In [1]:
import numpy as np 
import pandas as pd

In [3]:
path = "./data/nyse_n.pkl"
df  = pd.read_pickle(path)

In [5]:
df.head(5)

,A,B,C,D,E,F,G,H,I,J,...,N,O,P,Q,R,S,T,U,V,W
0,0.997510,0.986480,0.992200,0.991950,0.956880,0.986380,0.984860,0.978110,0.988890,0.990430,...,0.986190,1.002620,1.033330,0.986090,0.990710,0.996830,0.984500,0.986840,0.996710,1.008920
1,1.007425,1.000005,0.994165,1.002008,0.935274,0.990937,0.977286,0.953452,0.993360,0.968106,...,0.972314,1.010491,1.100000,0.973912,0.973422,0.993660,0.984500,0.980258,0.950821,1.000001
2,1.004937,0.969574,0.978586,0.999994,0.913669,0.986379,0.969712,0.945233,0.988890,0.963323,...,0.989622,0.994747,1.066670,0.965224,0.965421,0.992060,0.990712,0.982454,0.947532,1.004481
3,1.007419,0.966191,0.966931,1.005974,0.906497,1.009115,0.972224,0.948003,1.000005,0.969700,...,0.989622,0.992121,1.100004,0.975659,0.961424,1.001604,0.982925,0.995609,0.934418,1.008921
4,1.019790,0.986481,0.961091,1.007986,0.884895,1.022738,0.964650,0.958905,1.002165,0.974481,...,0.999993,0.997369,1.133334,0.979132,0.962779,0.992059,0.984498,0.999999,0.904909,1.017880

In [7]:
df.describe()

,A,B,C,D,E,F,G,H,I,J,...,N,O,P,Q,R,S,T,U,V,W
count,6431.000000,6431.000000,6431.000000,6431.000000,6431.000000,6431.000000,6431.000000,6431.000000,6431.000000,6431.000000,...,6431.000000,6431.000000,6431.000000,6431.000000,6431.000000,6431.000000,6431.000000,6431.000000,6431.000000,6431.000000
mean,8.920208,5.671132,7.266457,18.853303,6.201533,8.023652,7.327689,8.092023,13.138843,2.254895,...,20.639381,10.963526,1.004884,2.430148,19.616463,7.687651,24.931448,13.571199,4.811995,10.707076
std,5.858375,3.982714,5.556145,12.040012,7.877569,4.612941,3.965730,5.687559,10.441358,1.185638,...,16.129300,6.638292,0.536344,1.244754,13.164990,5.408622,24.070624,11.985374,4.267014,8.609873
min,0.997510,0.817840,0.871385,0.957937,0.662717,0.986379,0.964650,0.900498,0.988890,0.030496,...,0.972314,0.979012,0.166661,0.194494,0.961424,0.964002,0.908956,0.912211,0.776972,1.000001
25%,3.111801,2.166133,3.047780,6.277638,1.482114,3.987948,3.382395,3.918474,3.008019,1.394261,...,5.233345,4.771939,0.599933,1.655886,7.178842,2.813270,6.432404,3.634867,1.856495,3.750902
50%,9.800201,4.526582,5.284013,23.540386,2.727336,7.343774,8.381412,6.635709,10.799331,2.149851,...,17.680867,12.215676,0.933308,2.121903,20.177021,6.658761,16.097022,12.327936,3.599233,8.417519
75%,14.328227,9.668548,10.413986,28.545522,6.390355,11.179080,10.503026,10.711618,23.397841,3.048882,...,35.843637,17.190253,1.266680,2.991929,30.870063,12.545721,33.781718,19.728393,6.015391,14.407833
max,20.773733,16.611556,20.959310,44.247021,36.356743,20.006904,16.238457,25.791907,38.079539,6.122602,...,50.599860,22.414044,4.514357,5.899219,51.895988,19.507612,88.934634,79.964409,20.334752,37.954182

In [11]:
S = df/df.shift(1).fillna(method='ffill')

In [16]:
S.head()

,A,B,C,D,E,F,G,H,I,J,...,N,O,P,Q,R,S,T,U,V,W
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.00994,1.01371,1.00198,1.01014,0.97742,1.00462,0.99231,0.97479,1.00452,0.97746,...,0.98593,1.00785,1.06452,0.98765,0.98255,0.99682,1.00000,0.99333,0.95396,0.99116
2,0.99753,0.96957,0.98433,0.99799,0.97690,0.99540,0.99225,0.99138,0.99550,0.99506,...,1.01780,0.98442,0.96970,0.99108,0.99178,0.99839,1.00631,1.00224,0.99654,1.00448
3,1.00247,0.99651,0.98809,1.00598,0.99215,1.02305,1.00259,1.00293,1.01124,1.00662,...,1.00000,0.99736,1.03125,1.01081,0.99586,1.00962,0.99214,1.01339,0.98616,1.00442
4,1.01228,1.02100,0.99396,1.00200,0.97617,1.01350,0.99221,1.01150,1.00216,1.00493,...,1.01048,1.00529,1.03030,1.00356,1.00141,0.99047,1.00160,1.00441,0.96842,1.00888

In [18]:
S.drop(0, axis=0, inplace=True)

In [21]:
n,m = S.shape

In [30]:

b = np.ones((1,m))/m

In [28]:
b

(23, 1)

In [25]:
.shape

(23,)

In [35]:
b = np.ones((1,m))/m
S0 = 1

for t in range(n):
    x = x* S.iloc[t,:]
    
#     S0 = S0*np.matmul(b,x)
#     print(S0)
print(x.sum())

14939.411064345422

In [33]:
print(S0)

[31.82335291]